{% extends "base_home.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<body>
    <div class="grid-container">
        <div class="grid-item">
            Profile
            <img style="width: 50px; padding-left: 10px;" src="https://media.discordapp.net/attachments/1239019889541513317/1239429224776077322/man.png?ex=6642e3ea&is=6641926a&hm=01c85d2fbf389be2d7018b5da0f57690616cdfe528c783ae5fa6c654e5526f74&=&format=webp&quality=lossless&width=1024&height=1024">
        </div>
        <div class="grid-item">
            Next Intake
            <img style="width: 50px; padding-left: 10px;" src="https://media.discordapp.net/attachments/1239019889541513317/1239428413522186360/medicine.png?ex=6642e329&is=664191a9&hm=9ff0ec17da06f0a046227155aa5030eac61f5f7a20a97dba03a2e6b598ca60f6&=&format=webp&quality=lossless&width=1024&height=1024">
        </div>
        <div class="grid-item">
            <ul class="list-group list-group-flush" id="pills">
                {% for pill in user.pills %}
                <li class="list-group-item">
                    {{ pill.data }}
                    <button type="button" class="close" onClick="deletePill({{ pill.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPillModal">Add Pill</button>
        </div>
        <div class="grid-item" id="calendar-container">
            <!-- <div id="calendar"></div> -->
            Calendar
            <img style="width: 50px; padding-left: 10px;" src="https://media.discordapp.net/attachments/1239019889541513317/1239429986637582437/man_1.png?ex=6642e4a0&is=66419320&hm=9971eaa42e627303bb3e0875f0c089a661a79ad2b90f223077a8b3f2cf7165ef&=&format=webp&quality=lossless&width=1024&height=1024">
        </div>
    </div>
    

 <!-- Modal -->
 <div class="modal fade rounded-modal popup" id="addPillModal" tabindex="-1" role="dialog" aria-labelledby="addPillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg rounded-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="addPillModalLabel">Add New Medication</h5>
            </div>
            <div class="modal-body">
                <form id="addPillForm">
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="pillId">Compartment Number:</label>
                                <select class="form-control" id="pillId" name="pillId">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="size">Pill Size:</label>
                                <select class="form-control" id="size" name="size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="altName">Alternate Name:</label>
                                <input type="text" class="form-control" id="altName" name="altName">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="dispenseTime">Dispense Time:</label>
                                <input type="time" class="form-control" id="dispenseTime" name="dispenseTime">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="frequency">Frequency:</label>
                                <select class="form-control" id="frequency" name="frequency">
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Biweekly">Biweekly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="startDate">Start Date:</label>
                                <input type="date" class="form-control" id="startDate" name="startDate">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="endDate">End Date:</label>
                                <input type="date" class="form-control" id="endDate" name="endDate">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #BD615B";>Cancel</button>
                <button type="button" class="btn btn-primary" id="submitPill">Save</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    // Handle submission of the form within the modal
    document.getElementById('submitPill').addEventListener('click', function() {
        // Get the pill data from the form
        var pillData = document.getElementById('pill').value;

        // Send a request to add the pill (you can use fetch or any other method)
        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ pillData: pillData })
        }).then(function(response) {
            if (response.ok) {
                // If the request is successful, reload the page to reflect changes
                window.location.reload();
            } else {
                // Handle errors
                console.error('Failed to add pill');
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });
</script>   
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
            start: 'dayGridMonth',
            center: 'title',
            end: 'prev,next'
            },
        });
        calendar.render();
        });
</script>
{% endblock %}
