{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page-body">
    <form method="POST" class="signup-form">
        <h1 align="center">
            <strong>
                Welcome to P.O.M.<sup>2</sup>
            </strong>
            <img style="width: 50px; display: inline; padding-bottom: 10px;" src="https://media.discordapp.net/attachments/1239019889541513317/1239020375002841170/pomlogo.png?ex=6642b8a5&is=66416725&hm=856ced1e75baa034419678e7354776ac9d37a894d8ad6b32b92f2002dc880c30&=&format=webp&quality=lossless&width=422&height=314" alt="POM logo">
        </h1>
        <div class="form-group" >
            <label for="email">Email Address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="Enter email"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password"
                placeholder="Enter password"
            />
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <h3 align="center" class="return-txt">Don't have an account? <a href="/sign-up">Register!</a></h3>
    </form>
</div>

<style>
    h3 {
        font-family: 'Montserrat';
        font-size: 15px;
    }

    a {
            color: #2e4224;
            text-decoration: underline;
        }

    a:hover {
        color: #4c7642;
    }
</style>

<script>
    document.body.classList.add('login-page-body');
</script>

{% endblock %}