{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page-body">
    <form method="POST" class="signup-form">
        <h1 align="center">
            <strong>
                Welcome to P.O.M.<sup>2</sup>
            </strong>
            <img class="logo" src="/POMPOM/flask-server/website/images/pomlogo.png" alt="POM logo">
        </h1>
        <div class="form-group" >
            <label for="email">Email Address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="Enter email"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password"
                placeholder="Enter password"
            />
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <h3 align="center" class="return-txt">Don't have an account? <a href="/sign-up">Register!</a></h3>
    </form>
</div>

<style>
    h3 {
        font-family: 'Montserrat';
        font-size: 15px;
    }

    a {
            color: #2e4224;
            text-decoration: underline;
        }

    a:hover {
        color: #4c7642;
    }

    .logo {
        width: 50px;
        display: inline;
        padding-bottom: 10px;
    }

</style>

<script>
    document.body.classList.add('login-page-body');
</script>

{% endblock %}