
{% extends "base_home.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<body>
    <div class="grid-container">
        <div class="grid-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientInfoModal">Edit Info</button>
        </div>
        <div class="grid-item">
            <strong>Next Intake</strong>
            {% if next_pill %}
                <p>Pill Name: {{ next_pill.name }}</p>
                <p>Dispense Time: {{ next_pill.dispense_time }}</p>
            {% else %}
                <p>No more pills scheduled for today.</p>
            {% endif %}
        </div>
        <div class="grid-item" style="display: flex; flex-direction: column;">
            <ul class="list-group list-group-flush" id="profiles">
                {% for pill in user.pills %}
                <li class="list-group-item" style="background-color:#E8EBE6; font-size:14px;">
                    <strong> {{ pill.name }} </strong>
                        {% if pill.alt_name %}
                            ({{ pill.alt_name }})
                        {% endif %}
                    <br>
                    Taken {{ pill.frequency }}: {{ pill.dispense_time }} PDT
                    <button type="pill-button" id='getPillButton' class="btn btn-secondary btn-sm" onclick="editPill({{ pill.id }})">Edit</button>
                    <button type="pill-button" id='dispensePillButton' class="btn btn-secondary btn-sm" onclick="dispensePill({{ pill.id }})">Dispense</button>
                </li>
                {% endfor %}
            </ul> 
            <button type="add-button" class="btn btn-primary" data-toggle="modal" data-target="#addPillModal">Add Pill</button>
        </div> 
        <div class="grid-item" id="calendar-container">
            <!-- <div id="calendar"></div> -->
            Calendar
            <img style="width: 50px; padding-left: 10px;" src="https://media.discordapp.net/attachments/1239019889541513317/1239429986637582437/man_1.png?ex=6642e4a0&is=66419320&hm=9971eaa42e627303bb3e0875f0c089a661a79ad2b90f223077a8b3f2cf7165ef&=&format=webp&quality=lossless&width=1024&height=1024">
        </div>
    </div>
    

 <!-- Modal for adding a pill -->
 <div class="modal fade rounded-modal popup" id="addPillModal" tabindex="-1" role="dialog" aria-labelledby="addPillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg rounded-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="addPillModalLabel">Add New Medication</h5>
            </div>
            <div class="modal-body">
                <form id="addPillForm">
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="pillId">Compartment Number:</label>
                                <select class="form-control" id="pillId" name="pillId">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="size">Pill Size:</label>
                                <select class="form-control" id="size" name="size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="altName">Alternate Name:</label>
                                <input type="text" class="form-control" id="altName" name="altName">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="dispenseTime">Dispense Time:</label>
                                <input type="time" class="form-control" id="dispenseTime" name="dispenseTime">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="frequency">Frequency:</label>
                                <select class="form-control" id="frequency" name="frequency">
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Biweekly">Biweekly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="startDate">Start Date:</label>
                                <input type="date" class="form-control" id="startDate" name="startDate">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="endDate">End Date:</label>
                                <input type="date" class="form-control" id="endDate" name="endDate">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #BD615B";>Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitPill">Save</button>
            </div>
        </div>
    </div>
</div>

 <!-- Modal for editing a pill -->
 <div class="modal fade rounded-modal popup" id="editPillModal" tabindex="-1" role="dialog" aria-labelledby="editPillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg rounded-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="editPillModalLabel">Edit Medication</h5>
            </div>
            <div class="modal-body">
                <form id="editPillForm">
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="pillId">Compartment Number:</label>
                                <select disabled class="form-control" id="editpillId" name="pillId">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="size">Pill Size:</label>
                                <select class="form-control" id="editsize" name="size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <input type="number" class="form-control" id="editamount" name="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="editname" name="name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="altName">Alternate Name:</label>
                                <input type="text" class="form-control" id="editaltName" name="altName">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="dispenseTime">Dispense Time:</label>
                                <input type="time" class="form-control" id="editdispenseTime" name="dispenseTime">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="frequency">Frequency:</label>
                                <select class="form-control" id="editfrequency" name="frequency">
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Biweekly">Biweekly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px 0 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="startDate">Start Date:</label>
                                <input type="date" class="form-control" id="editstartDate" name="startDate">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="endDate">End Date:</label>
                                <input type="date" class="form-control" id="editendDate" name="endDate">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deletePill" style="background-color: #BD615B;">Delete Medication</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="updatePill">Save Changes</button>
            </div>
        </div>
    </div>
</div>
 <!-- TBD -->

 <!-- Modal for editing patient info -->
<div class="modal fade rounded-modal popup" id="patientInfoModal" tabindex="-1" role="dialog" aria-labelledby="PatientInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg rounded-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="PatientInfoModalLabel">Edit Patient Information</h5>
            </div>
            <div class="modal-body">
                <form id="updateProfileForm" method="post" action="/update-profile" enctype="multipart/form-data">
                    <div class="row" style="padding: 0 20px;">
                        <!-- Profile Picture Upload -->
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="profile-picture-container">
                                <img src="{% if current_user.profile_picture %}{{ url_for('static', filename=current_user.profile_picture) }}{% else %}{{ url_for('static', filename='default_profile.jpg') }}{% endif %}" alt="Profile Picture" class="profile-picture" id="profile-img">
                                <input type="file" class="form-control-file" id="profile_picture" name="profile_picture">
                            </div>
                        </div>
                        <!-- Name fields -->
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="fullName">Full Name:</label>
                                <input type="text" class="form-control" id="fullName" name="fullName">
                            </div>
                            <div class="form-group">
                                <label for="prefName">Preferred Name:</label>
                                <input type="text" class="form-control" id="prefName" name="prefName">
                            </div>
                            <!-- Additional fields as required -->
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="errorModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="errorMessage"></p>
    </div>
</div>
  

</body>

<script>
    async function dispensePill(pillId) {
        try {
            const response = await fetch('/dispense_pill', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ pillId })
            });
            const data = await response.json();
            if (response.ok) {
                console.log('Pill dispensed successfully:', data.message);
                alert('Pill dispensed successfully!');
            } else {
                console.error('Error dispensing pill:', data.error);
                alert('Error dispensing pill: ' + data.error);
            }
        } catch (error) {
            console.error('Network or server error:', error);
            alert('Network or server error: ' + error.message);
        }
    }
    
    
async function editPill(pillId) {
    try {
        // Retrieve the pill data associated with the clicked button
        var pillData = await getPillDataById(pillId); // You need to implement getPillDataById function
        
        console.log(pillData);
        // Populate the form fields in the "Edit Pill" modal with the retrieved pill data
        document.getElementById('editpillId').value = pillData.id;
        document.getElementById('editsize').value = pillData.size;
        document.getElementById('editamount').value = pillData.amount;
        document.getElementById('editname').value = pillData.name;
        document.getElementById('editaltName').value = pillData.alt_name;
        document.getElementById('editdispenseTime').value = pillData.dispense_time;
        document.getElementById('editfrequency').value = pillData.frequency;
        document.getElementById('editstartDate').value = pillData.start_date;
        document.getElementById('editendDate').value = pillData.end_date;
        
        // Open the "Edit Pill" modal
        $('#editPillModal').modal('show');
    } catch (error) {
        console.error('Error editing pill:', error);
    }
}

async function getPillDataById(pillId) {
    try {
        const response = await fetch(`/get_pill?id=${pillId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });
        if (response.ok) {
            const data = response.json();
            console.log('Pill data retrieved successfully:', data);
            return data;
        } else {
            throw new Error('Failed to retrieve pill data');
        }
    } catch (error) {
        console.error('Error fetching pill data:', error);
        throw error;
    }
}

    document.getElementById('submitPill').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent any default action triggered by clicking the submit button

        var pillData = {
            compartment: document.getElementById('pillId').value,
            size: document.getElementById('size').value,
            amount: document.getElementById('amount').value,
            name: document.getElementById('name').value,
            altName: document.getElementById('altName').value,
            dispenseTime: document.getElementById('dispenseTime').value,
            frequency: document.getElementById('frequency').value,
            startDate: document.getElementById('startDate').value,
            endDate: document.getElementById('endDate').value
        };

        fetch('/add_pill', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(pillData)
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if (data.message) {
                console.log('Pill edited successfully');
                location.reload();
            } else {
                // Handle errors
                displayError(data.error);
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });

    document.getElementById('updatePill').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent any default action triggered by clicking the submit button

        var pillData = {
            compartment: document.getElementById('editpillId').value,
            size: document.getElementById('editsize').value,
            amount: document.getElementById('editamount').value,
            name: document.getElementById('editname').value,
            altName: document.getElementById('editaltName').value,
            dispenseTime: document.getElementById('editdispenseTime').value,
            frequency: document.getElementById('editfrequency').value,
            startDate: document.getElementById('editstartDate').value,
            endDate: document.getElementById('editendDate').value
        };

        fetch('/update_pill', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(pillData)
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if (data.message) {
                console.log('Pill updated successfully');
                location.reload();
            } else {
                // Handle errors
                displayError(data.error);
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });

    document.getElementById('deletePill').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent any default action triggered by clicking the submit button

        var pillId = document.getElementById('editpillId').value

        fetch('/delete_pill', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: pillId })
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if (data.message) {
                console.log('Pill deleted successfully');
                location.reload();
            } else {
                displayError(data.error);
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });

    document.getElementById('deletePill').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default form submission behavior
    
        var pillId = document.getElementById('editpillId').value;  // Get the pill ID from a hidden input or other element in your modal
    
        fetch('/delete-pill', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: pillId })  // Send the pill ID as JSON
        }).then(function(response) {
            return response.json();  // Parse the JSON response
        }).then(function(data) {
            if (data.message) {
                console.log(data.message);  // Log success message
                location.reload();  // Reload the page to update the list of pills
            } else {
                displayError(data.error);  // Display error message if provided
            }
        }).catch(function(error) {
            console.error('Error:', error);
            displayError('Failed to delete pill');  // Display generic error message
        });
    });

    function displayError(errorMessage) {
        var modal = document.getElementById('errorModal');
        var span = document.getElementsByClassName('close')[0];
        var errorText = document.getElementById('errorMessage');

        errorText.textContent = errorMessage;
        modal.style.display = 'block';

        span.onclick = function() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    }

    function refreshPillInfo() {
        fetch('/next_pill')
        .then(response => response.json())
        .then(data => {
            const nextPillContainer = document.querySelector('.grid-item');
            if (data.next_pill) {
                nextPillContainer.innerHTML = `
                    <strong>Next Intake</strong>
                    <p>Pill Name: ${data.next_pill.name}</p>
                    <p>Dispense Time: ${data.next_pill.dispense_time}</p>
                `;
            } else {
                nextPillContainer.innerHTML = `
                    <strong>Next Intake</strong>
                    <p>No more pills scheduled for today.</p>
                `;
            }
        })
        .catch(error => console.error('Error:', error));
    }
    
    // Refresh the pill information every minute to check for updates
    setInterval(refreshPillInfo, 30000);  // 60000 milliseconds = 1 minute
</script>
{% endblock %}
